openapi: 3.0.1
info:
  title: Criteo Accounts Gateway API
  description: Criteo API - RetailMedia
  version: 2026-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Gateway
paths:
  /2026-07/retail-media/me:
    get:
      tags:
      - Gateway
      summary: /2026-07/retail-media/me
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
      security:
      - oauth: []
components:
  schemas:
    ApplicationSummaryModel:
      type: object
      properties:
        applicationId:
          type: integer
          format: int32
          nullable: true
        criteoService:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        organizationId:
          type: integer
          format: int32
          nullable: true
      description: Used for the /me endpoint. Contains information about the currently authenticated application that we accept to give to our clients
      nullable: true
    CommonProblem:
      type: object
      properties:
        code:
          type: string
          description: A machine-readable error code, expressed as a string value.
          nullable: true
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          nullable: true
        instance:
          type: string
          description: A URI that identifies the specific occurrence of the problem.
          nullable: true
        source:
          type: object
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
          nullable: true
        stackTrace:
          type: string
          nullable: true
        title:
          type: string
          description: A short human-readable description of the problem type
          nullable: true
        traceId:
          type: string
          description: The request correlation ID this problem comes from.
          nullable: true
        traceIdentifier:
          type: string
          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
          nullable: true
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          description: The problem's category.
          nullable: true
      description: Common problem object.
    ApplicationSummaryModelResource:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
        type:
          type: string
          nullable: true
      description: A top-level object that encapsulates a Criteo API response for a single value
      nullable: true
    ApplicationSummaryModelResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for a single value
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://api.criteo.com/oauth2
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
x-samples-languages:
- java
- python
- php
- csharp
- javascript
- curl
- ruby
