openapi: 3.2.0
info:
  title: Criteo Accounts API
  description: Criteo API - RetailMedia
  version: 2026-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Accounts
paths:
  /2026-07/retail-media/account-management/accounts/{accountId}/brands/add:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/account-management/accounts/{accountId}/brands/add
      description: Add brands to an account
      operationId: AddBrands
      parameters:
      - name: accountId
        in: path
        description: the account id to update
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/account-management/accounts/{accountId}/brands/remove:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/account-management/accounts/{accountId}/brands/remove
      description: Remove brands from an account
      operationId: RemoveBrands
      parameters:
      - name: accountId
        in: path
        description: the account id to update
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/account-management/accounts/{accountId}/create-brand-account:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/account-management/accounts/{accountId}/create-brand-accou…
      description: Creates a new child Demand Brand account for the provided parent Private Market account
      operationId: CreatePrivateMarketDemandBrandAccount
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/account-management/accounts/{accountId}/create-seller-account:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/account-management/accounts/{accountId}/create-seller-acco…
      description: Creates a new child Demand Seller account for the provided parent Private Market account
      operationId: CreatePrivateMarketDemandSellerAccount
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      tags:
      - Accounts
      summary: /2026-07/retail-media/account-management/accounts/{accountId}/private-market-chi…
      description: Gets Private Market child accounts that are associated with the given account
      operationId: GetPrivateMarketChildAccountsByAccountId
      parameters:
      - name: accountId
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of accounts to be returned. The default is 25.
        schema:
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: The (zero-based) offset into the collection of accounts. The default is 0.
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata'
      security:
      - oauth:
        - RetailMedia_Accounts_Read
  /2026-07/retail-media/account-management/accounts/{accountId}/sellers:
    put:
      tags:
      - Accounts
      summary: /2026-07/retail-media/account-management/accounts/{accountId}/sellers
      description: Replace the sellers associated with an account
      operationId: UpdateSellers
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/accounts:
    get:
      tags:
      - Accounts
      summary: /2026-07/retail-media/accounts
      description: Gets page of account objects that the current user can access
      operationId: GetAccounts
      parameters:
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
      security:
      - oauth:
        - RetailMedia_Accounts_Read
  /2026-07/retail-media/accounts/{accountId}/grant-consent:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/accounts/{accountId}/grant-consent
      description: Grant consent to a business application on behalf of a Private Market demand account
      operationId: GrantConsent
      parameters:
      - name: accountId
        in: path
        description: The demand account ID on which to grant consent
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
        x-bodyName: grantConsentInput
      responses:
        '204':
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/accounts/fees/search:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/accounts/fees/search
      description: Get fees for provided accounts
      operationId: AccountFeesSearch
      parameters:
      - name: limit
        in: query
        description: used for paging, number of results returned per request, Maximum of 500
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: used for paging, number of records to skip
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesSearchRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomePrivateMarketAccountFeesAndMetadata'
      security:
      - oauth:
        - RetailMedia_Accounts_Read
  /2026-07/retail-media/accounts/fees/update:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/accounts/fees/update
      description: Set fees for provided accounts
      operationId: UpdateAccountFees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesUpdateRequest'
        required: true
      responses:
        '204':
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
  /2026-07/retail-media/accounts/sellers/search:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/accounts/sellers/search
      description: Get the sellers mapped to provided accounts
      operationId: SearchSellers
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfSellerSearchResult'
      security:
      - oauth:
        - RetailMedia_Accounts_Read
  /2026-07/retail-media/brands/search:
    post:
      tags:
      - Accounts
      summary: /2026-07/retail-media/brands/search
      description: Search for brands given a retailer ID and search term.
      operationId: SearchBrands
      parameters:
      - name: limit
        in: query
        description: the number of brands to return
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: offset of paginated results
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      requestBody:
        description: BrandIdSearchRequest which contains the request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
        x-bodyName: brandIdSearchRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata'
      security:
      - oauth:
        - RetailMedia_Accounts_Read
components:
  schemas:
    ValueResourceOfRetailMediaBrands:
      type:
      - object
      - 'null'
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalRetailMediaBrands'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    ExternalRetailMediaAccount:
      type:
      - object
      - 'null'
      properties:
        companyName:
          type:
          - string
          - 'null'
          description: Paying entity name of ads for the Digital Services Act
        countryIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: list of countries associated with the account
        currencyId:
          type:
          - string
          - 'null'
          description: the currency for the account
        name:
          type:
          - string
          - 'null'
          description: account name
        onBehalfCompanyName:
          type:
          - string
          - 'null'
          description: On behalf entity name of ads for the Digital Services Act
        parentAccountLabel:
          type:
          - string
          - 'null'
          description: parent account label for the account
        subType:
          enum:
          - Unknown
          - Brand
          - Seller
          type:
          - string
          - 'null'
          description: subtype for the account
        timeZone:
          type:
          - string
          - 'null'
          description: the timezone for the account
        type:
          enum:
          - Unknown
          - Supply
          - Demand
          type:
          - string
          - 'null'
          description: Type for the account
      additionalProperties: false
      description: The details for a newly created account
    EntityResourceOutcomeOfRetailMediaAccount:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EntityResourceOfRetailMediaAccount'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for a single entity.
    EntityResourceOfRetailMediaAccount:
      type:
      - object
      - 'null'
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalRetailMediaAccount'
        id:
          type:
          - string
          - 'null'
          description: Unique id of the entity.
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A domain entity exposed by the API, identified by a unique id.
    GrantConsentModelValueResource:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/GrantConsentModel'
        type:
          type: string
      description: A top-level object that encapsulates a Criteo API response for a single value
    ValueResourceOfSellerSearchResult:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SellerSearchResult'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    ValueResourcePrivateMarketAccountFees:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/PrivateMarketAccountFees'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    AccountFeesSearchRequest:
      type: object
      properties:
        accountIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Account Ids to return fees
      additionalProperties: false
      description: the request body for account fees search
    GrantConsentModel:
      required:
      - callbackUrl
      - clientId
      type: object
      properties:
        callbackState:
          type: string
        callbackUrl:
          type: string
        clientId:
          type: string
      description: An object that represents the required (ClientId and CallbackUrl) and optional (CallbackState) parameters when granting consents on behalf of a Private Market demand account
    Metadata:
      required:
      - limit
      - offset
      type:
      - object
      - 'null'
      properties:
        count:
          type:
          - integer
          - 'null'
          format: int64
        limit:
          type: integer
          description: The number of elements to be returned.
          format: int32
        offset:
          type: integer
          description: The (zero-based) starting offset in the collection.
          format: int32
      additionalProperties: false
      description: Metadata related to the current request.
    ExternalAccount:
      required:
      - countries
      - currency
      - name
      - parentAccountLabel
      - timeZone
      - type
      type:
      - object
      - 'null'
      properties:
        companyName:
          type:
          - string
          - 'null'
        countries:
          type: array
          items:
            type: string
        currency:
          type: string
        name:
          maxLength: 510
          minLength: 0
          type: string
        onBehalfCompanyName:
          type:
          - string
          - 'null'
        parentAccountLabel:
          maxLength: 510
          minLength: 0
          type: string
        subtype:
          enum:
          - unknown
          - brand
          - seller
          type:
          - string
          - 'null'
        timeZone:
          type: string
        type:
          enum:
          - unknown
          - supply
          - demand
          type: string
      additionalProperties: false
      description: A Retail Media Account used to launch campaigns and line items
    EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EntityResourceOfRetailMediaChildAccount'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Metadata'
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for several entities and metadata.
    ExternalRetailMediaBrands:
      required:
      - brandIds
      type:
      - object
      - 'null'
      properties:
        brandIds:
          type: array
          items:
            type: integer
            format: int64
      additionalProperties: false
      description: A collection of brand ids
    ValueResourceInputAccountFeesSearchRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceAccountFeesSearchRequest'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ValueResourceCollectionOutcomeOfRetailMediaSeller:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValueResourceOfRetailMediaSeller'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for several value objects.
    ValueResourceOfRetailMediaBrandAccountCreation:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalRetailMediaBrandAccountCreation'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    ValueResourceAccountFeesUpdateRequest:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/AccountFeesUpdateRequest'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    GrantConsentInput:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GrantConsentModelValueResource'
      description: An object that encapsulates GrantConsentModel
    SellerSearchResult:
      type:
      - object
      - 'null'
      properties:
        accountId:
          type:
          - string
          - 'null'
          description: the id for the account
        sellers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RetailMediaSeller'
          description: the details for mapped sellers for the account
      additionalProperties: false
      description: holds an AccountId and the mapped seller information for that account
    ValueResourceOfRetailMediaSellerAccountCreation:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalRetailMediaSellerAccountCreation'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    JsonApiPageResponseOfAccount:
      required:
      - data
      - metadata
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndAccountAndAccount'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonWarning'
      additionalProperties: false
      description: A wrapper class to return a single page of <typeparamref name="T" /> with metadata
    ValueResourceInputOfRetailMediaBrandAccountCreation:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceOfRetailMediaBrandAccountCreation'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ValueResourceOfSellerSearch:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SellerSearch'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    SdkApiRestCommonProblem:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: A machine-readable error code, expressed as a string value.
        detail:
          type:
          - string
          - 'null'
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - string
          - 'null'
          description: A URI that identifies the specific occurrence of the problem.
        source:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
        stackTrace:
          type:
          - string
          - 'null'
          description: ''
        title:
          type:
          - string
          - 'null'
          description: A short human-readable description of the problem type.
        traceId:
          type:
          - string
          - 'null'
          description: The request correlation ID this problem comes from.
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type:
          - string
          - 'null'
          description: The problem's category.
      additionalProperties: false
      description: Common problem object.
    ValueResourceAccountFeesSearchRequest:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/AccountFeesSearchRequest'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    AccountFeesUpdateRequest:
      required:
      - accountIds
      - fees
      type: object
      properties:
        accountIds:
          maxItems: 25
          minItems: 1
          type: array
          items:
            type: string
          description: accounts to update
        fees:
          $ref: '#/components/schemas/PrivateMarketFees'
      additionalProperties: false
      description: request body to set provided fees for the provided accounts
    JsonApiBodyWithIdOfInt64AndAccountAndAccount:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalAccount'
        id:
          type: string
          format: long-id
        type:
          type: string
      additionalProperties: false
      description: 'A JSON:API wrapper class to format a <typeparamref name="TAttributes" /> with external Id, Type, and

        Attributes properties'
    ValueResourceCollectionInputOfRetailMediaSeller:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValueResourceOfRetailMediaSeller'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for several value objects.
    CommonError:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
        detail:
          type:
          - string
          - 'null'
          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - string
          - 'null'
          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem.
        source:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
        stackTrace:
          type:
          - string
          - 'null'
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
        title:
          type:
          - string
          - 'null'
          description: (RECOMMENDED) A short, human-readable summary of the problem type.
        traceId:
          type:
          - string
          - 'null'
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type:
          - string
          - 'null'
          description: (REQUIRED) The classification of the error.
      additionalProperties: false
      description: A JSON:API Common error structure
    PrivateMarketAccountFees:
      type:
      - object
      - 'null'
      properties:
        accountId:
          type:
          - string
          - 'null'
          description: The account Id
        fees:
          $ref: '#/components/schemas/PrivateMarketFees'
      additionalProperties: false
      description: The Fees for a Specific private market account
    ExternalRetailMediaChildAccount:
      type:
      - object
      - 'null'
      properties:
        companyName:
          type:
          - string
          - 'null'
          description: Paying entity name of ads for the Digital Services Act
        countryIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: list of countries associated with the account
        currencyId:
          type:
          - string
          - 'null'
          description: the currency for the account
        name:
          type:
          - string
          - 'null'
          description: account name
        onBehalfCompanyName:
          type:
          - string
          - 'null'
          description: On behalf entity name of ads for the Digital Services Act
        subType:
          enum:
          - Unknown
          - Brand
          - Seller
          type:
          - string
          - 'null'
          description: subtype for the account
        timeZone:
          type:
          - string
          - 'null'
          description: the timezone for the account
        type:
          enum:
          - Unknown
          - Supply
          - Demand
          type:
          - string
          - 'null'
          description: Type for the account
      additionalProperties: false
      description: The details for a newly created account
    PageMetadata:
      required:
      - currentPageIndex
      - currentPageSize
      type: object
      properties:
        currentPageIndex:
          type: integer
          format: int32
        currentPageSize:
          type: integer
          format: int32
        nextPage:
          type:
          - string
          - 'null'
        previousPage:
          type:
          - string
          - 'null'
        totalItemsAcrossAllPages:
          type:
          - integer
          - 'null'
          format: int64
        totalPages:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
      description: Metadata related to the current request
    ExternalRetailMediaBrandAccountCreation:
      type: object
      properties:
        brands:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          description: list of brands to link to the new account
        companyName:
          type:
          - string
          - 'null'
          description: Display name for reporting the owning entity of ads for the Digital Services Act in the European Union
        name:
          type:
          - string
          - 'null'
          description: the name of the account, must be unique across all accounts
        onBehalfCompanyName:
          type:
          - string
          - 'null'
          description: On behalf entity name of ads for the Digital Services Act
      additionalProperties: false
      description: the initial set up and configuration options for a new private market demand brand account
    EntityResourceBrandIdSearchResult:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/BrandIdSearchResult'
        id:
          type:
          - string
          - 'null'
          description: Unique id of the entity.
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      description: A domain entity exposed by the API, identified by a unique id.
    ValueResourceOutcomeOfRetailMediaBrands:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceOfRetailMediaBrands'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for a single value object.
    BrandIdSearchRequest:
      required:
      - retailerIds
      type: object
      properties:
        brandType:
          enum:
          - uc
          - retailer
          - all
          type: string
          description: 'The type of brand, primarily where this brand belongs: UC, Retailer or All (both)'
        name:
          type:
          - string
          - 'null'
          description: The name of the brand(s) to be searched
        retailerIds:
          minItems: 1
          type: array
          items:
            type: integer
            format: int32
          description: IDs of the retailers we want to limit the search to
      description: An object that represents the request of BrandIdSearch endpoint.
    ValueResourceCollectionOutcomeOfSellerSearchResult:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValueResourceOfSellerSearchResult'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for several value objects.
    ValueResourceInputOfSellerSearch:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceOfSellerSearch'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ManagedServiceFee:
      required:
      - onsiteDisplayEnabled
      - onsiteSponsoredProductsEnabled
      - rate
      type:
      - object
      - 'null'
      properties:
        onsiteDisplayEnabled:
          type: boolean
          description: whether fee is enabled for display campaigns
        onsiteSponsoredProductsEnabled:
          type: boolean
          description: whether fee is enabled for sponsored product campaigns
        rate:
          maximum: 1
          minimum: 0
          type: number
          description: decimal fee rate between 0 and 1
          format: double
      additionalProperties: false
      description: settings for managed service fees
    BrandIdSearchResult:
      required:
      - brandType
      - id
      - name
      - retailerIds
      type:
      - object
      - 'null'
      properties:
        brandType:
          type: string
          description: The type of the brand
        id:
          type: string
          description: The brand id
        name:
          type: string
          description: The name of the brand
        retailerIds:
          type: array
          items:
            type: integer
            format: int32
          description: The retailer ids associated to the brand
      description: An object that represents the result from a brand ID search.
    EntityResourceOfRetailMediaChildAccount:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalRetailMediaChildAccount'
        id:
          type:
          - string
          - 'null'
          description: Unique id of the entity.
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A domain entity exposed by the API, identified by a unique id.
    ValueResourceOfRetailMediaSeller:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalRetailMediaSeller'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    CommonWarning:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
        detail:
          type:
          - string
          - 'null'
          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - string
          - 'null'
          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem.
        source:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
        stackTrace:
          type:
          - string
          - 'null'
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
        title:
          type:
          - string
          - 'null'
          description: (RECOMMENDED) A short, human-readable summary of the problem type.
        traceId:
          type:
          - string
          - 'null'
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type:
          - string
          - 'null'
          description: (REQUIRED) The classification of the error.
      additionalProperties: false
      description: A JSON:API Base common warning
    ValueResourceInputOfRetailMediaBrands:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceOfRetailMediaBrands'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ValueResourceInputBrandIdSearchRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceBrandIdSearchRequest'
      description: A top-level object that encapsulates a Criteo API request for a single value objects.
    PrivateMarketFees:
      type:
      - object
      - 'null'
      properties:
        demandManaged:
          $ref: '#/components/schemas/DemandManagedFee'
        managedService:
          $ref: '#/components/schemas/ManagedServiceFee'
      additionalProperties: false
      description: fees for a private market account
    EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EntityResourceBrandIdSearchResult'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        metadata:
          $ref: '#/components/schemas/PagingOffsetLimitMetadata'
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for several entities and metadata.
    ValueResourceInputOfRetailMediaSellerAccountCreation:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceOfRetailMediaSellerAccountCreation'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ValueResourceInputAccountFeesUpdateRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceAccountFeesUpdateRequest'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ExternalRetailMediaSeller:
      required:
      - retailerId
      - sellerId
      type:
      - object
      - 'null'
      properties:
        retailerId:
          type: integer
          description: the retailer id
          format: int32
        sellerId:
          type: string
          description: the seller id
      additionalProperties: false
      description: used to define the exact seller linked with an account
    DemandManagedFee:
      required:
      - rate
      type:
      - object
      - 'null'
      properties:
        rate:
          maximum: 1
          minimum: 0
          type: number
          description: decimal fee rate between 0 and 1
          format: double
      additionalProperties: false
      description: settings for DSP fees
    RetailMediaSeller:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: seller name
        retailerId:
          type:
          - integer
          - 'null'
          description: the retailer id
          format: int32
        sellerId:
          type:
          - string
          - 'null'
          description: the seller id
      additionalProperties: false
      description: used to define the exact seller linked with an account
    PagingOffsetLimitMetadata:
      required:
      - limit
      - offset
      type:
      - object
      - 'null'
      properties:
        count:
          type:
          - integer
          - 'null'
          format: int64
        limit:
          type: integer
          description: The number of elements to be returned.
          format: int32
        offset:
          type: integer
          description: The (zero-based) starting offset in the collection.
          format: int32
      description: Metadata for paging data.
    ValueResourceCollectionOutcomePrivateMarketAccountFeesAndMetadata:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValueResourcePrivateMarketAccountFees'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Metadata'
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for several value objects and metadata.
    ExternalRetailMediaSellerAccountCreation:
      required:
      - sellers
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
          description: Display name for reporting the owning entity of ads for the Digital Services Act in the European Union
        name:
          type:
          - string
          - 'null'
          description: the name of the account, must be unique across all accounts
        onBehalfCompanyName:
          type:
          - string
          - 'null'
          description: On behalf entity name of ads for the Digital Services Act
        sellers:
          type: array
          items:
            $ref: '#/components/schemas/ExternalRetailMediaSeller'
          description: list of sellers to associate to the new account
      additionalProperties: false
      description: the initial set up and configuration options for a new private market demand brand account
    SellerSearch:
      required:
      - accountIds
      type: object
      properties:
        accountIds:
          maxItems: 25
          type: array
          items:
            type: string
          description: list of accounts to return seller information for. max length of 25
        includeDetails:
          type: boolean
          description: 'whether to include additional fields beyond the sellerId and retailerId in the response.

            May improve performance when set to false.'
          default: false
      additionalProperties: false
      description: request body for the seller search endpoint
    ValueResourceBrandIdSearchRequest:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/BrandIdSearchRequest'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      description: A value resource exposed by the API.
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://api.criteo.com/oauth2
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
x-samples-languages:
- java
- python
- php
- csharp
- javascript
- curl
- ruby
