openapi: 3.0.1
info:
  title: Criteo Accounts Campaign API
  description: Criteo API - RetailMedia
  version: 2026-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Campaign
paths:
  /2026-07/retail-media/accounts/{account-id}/campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/campaigns
      description: Gets page of campaign objects for the given account id
      operationId: GetCampaignsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/campaigns
      description: Creates a new campaign with the specified settings
      operationId: CreateCampaignsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        description: The campaign settings to create a campaign with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCampaignV202301'
        required: true
        x-bodyName: campaign
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{account-id}/creatives:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives
      description: Get account creatives
      operationId: GetAccountCreatives
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives
      description: Create a creative for an account
      operationId: CreateCreative
      parameters:
      - name: account-id
        in: path
        description: External account id to create a creative for
        required: true
        schema:
          type: string
      requestBody:
        description: The creative to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        required: true
      responses:
        '201':
          description: Creatives created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}
      description: Get the specified creative
      operationId: GetCreative
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      - name: creative-id
        in: path
        description: Creative to get
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}
      description: Update a creative
      operationId: UpdateCreative
      parameters:
      - name: account-id
        in: path
        description: External account id containing the creative
        required: true
        schema:
          type: string
      - name: creative-id
        in: path
        description: Creative to update
        required: true
        schema:
          type: string
      requestBody:
        description: The creative to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        required: true
      responses:
        '201':
          description: Creative updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{account-id}/creatives/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/search
      description: Get account creatives
      operationId: SearchAccountCreatives
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      - name: creative-ids
        in: query
        description: Creatives to filter by
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report
      description: Generate a list of reports for line items which contain one or more actionable keyword reviews
      operationId: GetKeywordInReviewReport
      parameters:
      - name: account-id
        in: path
        description: The account to generate a report for
        required: true
        schema:
          type: string
          format: int64
      - name: limit
        in: query
        description: Number of items per page
        schema:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{account-id}/line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/line-items
      description: Gets page of line item objects for the given account id
      operationId: GetLineItemsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToCampaignId
        in: query
        description: The campaign ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: limitToType
        in: query
        description: The campaign types that you would like to limit your result set to
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          type: string
          nullable: true
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/brand-catalog-export:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/brand-catalog-export
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateBrandCatalogExport
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfBrandCatalogRequestV2'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{accountId}/brands:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/brands
      description: Gets page of retailer objects that are associated with the given account
      operationId: GetBrandsByAccountId
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/catalogs:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/catalogs
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/catalogs/sellers:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/catalogs/sellers
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiExternalV1AccountCatalogsSellersByAccountId
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfSellerCatalogRequest'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/retailers/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/retailers/search
      description: Searches for retailers associated with the specified account and returns budget model availability for each retailer
      operationId: SearchAccountRetailers
      parameters:
      - name: accountId
        in: path
        description: The external account identifier
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 and 10. Default is 5.
        schema:
          maximum: 10
          minimum: 1
          type: integer
          format: int32
          default: 5
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result set. Default is 0.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      requestBody:
        description: The search request containing filtering parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailerSearchRequestV2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailerResultV2AndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/seller-catalog-export:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/seller-catalog-export
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateSellerCatalogExport
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerCatalogRequestV2'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/assets:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/assets
      description: Creates an asset
      operationId: CreateAsset
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - AssetFile
              properties:
                AssetFile:
                  type: string
                  description: The asset binary content
                  format: binary
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/auction-line-items/{lineItemId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/auction-line-items/{lineItemId}
      description: Gets a sponsored product line item by its id.
      operationId: GetAuctionLineItem
      parameters:
      - name: lineItemId
        in: path
        description: The id of the line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/auction-line-items/{lineItemId}
      description: Updates a Sponsored Products Line Item given a line item id and a request.
      operationId: UpdateAuctionLineItem
      parameters:
      - name: lineItemId
        in: path
        description: The external line item ID of the sponsored products line item.
        required: true
        schema:
          type: string
      requestBody:
        description: An update request containing all details of the requested update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/balances/{balance-id}/campaigns/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/balances/{balance-id}/campaigns/append
      description: appends one or more campaigns to the specified balance
      operationId: AppendCampaignsByBalanceId
      parameters:
      - name: balance-id
        in: path
        description: The balance to add campaigns from
        required: true
        schema:
          type: string
      requestBody:
        description: The campaigns to append
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        x-bodyName: campaigns
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/balances/{balance-id}/campaigns/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/balances/{balance-id}/campaigns/delete
      description: Removes one or more campaigns on the specified balance
      operationId: DeleteCampaignsByBalanceId
      parameters:
      - name: balance-id
        in: path
        description: The balance to remove campaigns from
        required: true
        schema:
          type: string
      requestBody:
        description: The campaigns to append
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        x-bodyName: campaigns
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items
      description: Gets page of preferred line item objects for the given campaign id
      operationId: GetPreferredLineItemsByCampaignId
      parameters:
      - name: campaign-id
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items
      description: Creates a new preferred line item with the specified settings
      operationId: CreatePreferredLineItemByCampaignId
      parameters:
      - name: campaign-id
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        required: true
        x-bodyName: lineItem
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaignId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}
      description: Gets the campaign for the given campaign id
      operationId: GetCampaignByCampaignId
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}
      description: Updates the campaign for the given campaign id
      operationId: UpdateCampaignByCampaignId
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The campaign settings to update that campaign with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCampaignV202301'
        required: true
        x-bodyName: campaign
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaignId}/auction-line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/auction-line-items
      description: Gets a page of sponsored product line items by campaign id.
      operationId: GetAuctionLineItemsByCampaign
      parameters:
      - name: campaignId
        in: path
        description: The id of the campaign
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of elements to be returned on a page.
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
          default: 25
      - name: limitToIds
        in: query
        description: The ids to limit the auction line item results to
        schema:
          type: array
          items:
            type: string
      - name: offset
        in: query
        description: The (zero-based) starting offset into the collection.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfSponsoredProductsLineItemAndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/auction-line-items
      description: Creates new auction line item with the specified settings
      operationId: CreateAuctionLineItem
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemCreateRequestModel'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides
      description: Get current campaign budget overrides by given campaign id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - name: campaignId
        in: path
        description: Campaign id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides
      description: Update campaign budget overrides by given campaign id and new campaign budget overrides settings.
      operationId: UpdateCampaignBudgetOverrides
      parameters:
      - name: campaignId
        in: path
        description: Campaign id.
        required: true
        schema:
          type: string
      requestBody:
        description: New campaign budget overrides settings value resource input.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/catalogs/{catalogId}/output:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/catalogs/{catalogId}/output
      description: "Output the indicated catalog. Catalogs are only available for retrieval when their associated status request\r\nis at a Success status.\r\nProduces application/x-json-stream CatalogProduct json objects (first introduced in the 2021-07 version)."
      operationId: GetCatalogOutput
      parameters:
      - name: catalogId
        in: path
        description: A catalog ID returned from an account catalog request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Catalog download initiated.
          content:
            application/x-json-stream:
              schema:
                type: string
                format: binary
        '204':
          description: Catalog has expired.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/catalogs/{catalogId}/status:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/catalogs/{catalogId}/status
      description: Check the status of a catalog request.
      operationId: GetCatalogStatus
      parameters:
      - name: catalogId
        in: path
        description: A catalog ID returned from an account catalog request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Catalog request found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/categories:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/categories
      description: Endpoint to search categories by text and retailer.
      operationId: CategorySearch_GetApiExternalV1Categories
      parameters:
      - name: pageIndex
        in: query
        description: The start position in the overall list of matches. Must be zero or greater.
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of results to return with each call. Must be greater than zero.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: retailerId
        in: query
        description: The retailer id for which Categories fetched
        schema:
          type: integer
          format: int32
      - name: textSubstring
        in: query
        description: Query string to search across Categories
        schema:
          type: string
      responses:
        '200':
          description: Categories found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/categories/{categoryId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/categories/{categoryId}
      description: Endpoint to search for a specific category by categoryId.
      operationId: GetCategory
      parameters:
      - name: categoryId
        in: path
        description: ID of the desired category
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Retrieval completed and category is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{externalLineItemId}/keywords/recommended
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetRecommendedKeywords
      parameters:
      - name: externalLineItemId
        in: path
        description: The line item identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRecommendedKeywordsResult'
      deprecated: true
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{id}/keywords:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{id}/keywords
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - name: id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{id}/keywords/add-remove:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{id}/keywords/add-remove
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - name: id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{id}/keywords/set-bid:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{id}/keywords/set-bid
      description: Set bid overrides for associated keywords to the given line item in bulk
      operationId: SetKeywordBids
      parameters:
      - name: id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}
      description: Gets the line item for the given line item id
      operationId: GetLineItemsByCampaignId
      parameters:
      - name: line-item-id
        in: path
        description: The given line item id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers
      description: Fetch all bid multipliers for a given line item
      operationId: GetBidMultipliersByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: LineItemId for bid multiplier retrieval
        required: true
        schema:
          type: string
      responses:
        '200':
          description: BidMultipliers Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliersV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers
      description: Updates the bid multipliers for a given line item
      operationId: UpdateBidMultipliersByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: LineItemId for bid multiplier retrieval
        required: true
        schema:
          type: string
      requestBody:
        description: New Bid Multipliers to be set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersV2Request'
        required: true
        x-bodyName: request
      responses:
        '200':
          description: BidMultipliers Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/keywords/review:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/keywords/review
      description: Update the status of keyword reviews under a line item
      operationId: UpdateKeywordReviews
      parameters:
      - name: line-item-id
        in: path
        description: The line item to update keyword review statuses for
        required: true
        schema:
          type: string
          format: int64
      requestBody:
        description: Request object containing a list of Phrase-ReviewState pairs to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
        x-bodyName: keywordReviewSetStateRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRetailMediaKeywordsReviewResult'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products
      description: Retrieve a page of promoted products for a line item
      operationId: FetchPromotedProducts
      parameters:
      - name: fields
        in: query
        description: "A comma separated list of attribute names from the response model to compute and return.\r\n            Valid values are `status` and `bidOverride` in any order. Defaults to `status`."
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum page size to fetch. Defaults to 500.
        schema:
          type: integer
          format: int32
      - name: line-item-id
        in: path
        description: ID of the line item.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: Offset of the first item to fetch. Defaults to zero.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Promoted products associated with the line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProductResourceCollectionOutcome'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{line-item-id}/products/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/append
      description: Append a collection of promoted products to a line item
      operationId: AppendPromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '200':
          description: Promoted products appended to the line item with warnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
        '204':
          description: Promoted products appended to the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/delete
      description: Remove a collection of promoted products from a line item
      operationId: DeletePromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '204':
          description: Promoted products removed from the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products/pause:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/pause
      description: Pause a collection of promoted products associated with a line item
      operationId: PausePromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '204':
          description: Promoted products paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/unpause
      description: Un-pause a collection of promoted products associated with a line item
      operationId: UnpausePromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '204':
          description: Promoted products un-paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides
      description: Gets a collection of monthly and daily budget overrides for the provided line item.
      operationId: GetLineItemBudgetOverrides
      parameters:
      - name: lineItemId
        in: path
        description: The line item id to get budget overrides for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides
      description: Update line item budget overrides by given external line item id and new line item budget overrides settings.
      operationId: UpdateLineItemBudgetOverrides
      parameters:
      - name: lineItemId
        in: path
        description: Line item external id.
        required: true
        schema:
          type: string
      requestBody:
        description: New line item budget overrides settings value resource input.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}
      description: Gets the preferred line item for the given line item id
      operationId: GetPreferredLineItemsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The given line item id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}
      description: Updates the preferred line item for the given line item id
      operationId: UpdatePreferredLineItemByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The given line item id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelV2Request'
        required: true
        x-bodyName: lineItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket
      description: This endpoint gets the add to basket target on the specified line item.
      operationId: GetAddToBasketTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket
      description: This endpoint sets the scope of the add to basket target on the specified line item.
      operationId: PutAddToBasketTargetByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: The add to basket target to set the scope for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketTarget202110Request'
        required: true
        x-bodyName: addToBasketTarget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/append
      description: This endpoint appends one or more add to basket ids to targeting on the specified line item.  The resulting state of the add to basket target is returned.
      operationId: AppendAddToBasketTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Ids to append to the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        x-bodyName: idsToAppend
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/delete
      description: This endpoint removes one or more add to basket ids from targeting on the specified line item.  The resulting state of the add to basket target is returned.
      operationId: DeleteAddToBasketTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Ids to remove from the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        x-bodyName: idsToRemove
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences
      description: This endpoint gets the audience target on the specified line item.
      operationId: GetAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences
      description: This endpoint sets the scope of the audience target on the specified line item.
      operationId: PutAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: The audience target to set the scope for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTarget202110Request'
        required: true
        x-bodyName: audienceTarget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/append
      description: This endpoint appends one or more audiences ids to targeting on the specified line item.  The resulting state of the audience target is returned.
      operationId: AppendAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Audience ids to append to the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        x-bodyName: idsToAppend
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/delete
      description: This endpoint removes one or more audiences ids from targeting on the specified line item.  The resulting state of the audience target is returned.
      operationId: DeleteAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Audience ids to remove from the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        x-bodyName: idsToRemove
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores
      description: This endpoint gets the store target on the specified line item.
      operationId: GetStoreTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores
      description: This endpoint sets the scope of the store target on the specified line item.
      operationId: PutStoreTargetByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: The store target to set the scope for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreTarget202110Request'
        required: true
        x-bodyName: storeTarget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/append
      description: This endpoint appends one or more store ids to targeting on the specified line item.  The resulting state of the store target is returned.
      operationId: AppendStoreTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Store ids to append to the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreIdsUpdateModel202110Request'
        x-bodyName: idsToAppend
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/delete
      description: This endpoint removes one or more store ids from targeting on the specified line item.  The resulting state of the store target is returned.
      operationId: DeleteStoreTargetByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Store ids to remove from the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreIdsUpdateModel202110Request'
        x-bodyName: idsToRemove
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/retailers/{retailer-id}/templates:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailer-id}/templates
      description: Get retailer creative templates
      operationId: GetRetailerCreativeTemplates
      parameters:
      - name: retailer-id
        in: path
        description: External retailer id to retrieve creative templates for
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Templates found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailer-id}/templates/{template-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailer-id}/templates/{template-id}
      description: Gets the template for the specified retailer id and template id
      operationId: GetCreativeTemplate
      parameters:
      - name: retailer-id
        in: path
        description: Retailer Id
        required: true
        schema:
          type: string
          format: int32
      - name: template-id
        in: path
        description: Template Id
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Template found for the retailer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/categories/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/categories/search
      description: Search a retailer categories by given text substring and category ids.
      operationId: SearchCategory
      parameters:
      - name: limit
        in: query
        description: Limit of the search result.
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: Offset of the search result.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: retailerId
        in: path
        description: Retailer id.
        required: true
        schema:
          type: string
          format: int32
      requestBody:
        description: Request of categories search.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCategoriesSearchRequestV1'
        x-bodyName: request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeCategory202204Metadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/cpc-min-bids:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/cpc-min-bids
      description: Get overall and individual minimum bid amount for given retailer id and sku id list.
      operationId: GetCpcMinBidsBySkuIdsV1
      parameters:
      - name: retailerId
        in: path
        description: Retailer Id.
        required: true
        schema:
          type: string
          format: int32
      requestBody:
        description: Cpc minimum bid amount request object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCpcMinBidsRequest'
        required: true
        x-bodyName: cpcMinBidsRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeCpcMinBidsResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/retailers/{retailerId}/pages:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/pages
      description: Get the page types available for the given retailer
      operationId: RetailerApi_GetApi202110ExternalRetailerPagesByRetailerId
      parameters:
      - name: retailerId
        in: path
        description: The retailers to fetch pages for
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Pages fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailerPages202110'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/recommend-categories:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/recommend-categories
      description: Endpoint to get recommended categories by given retailer id and sku id list.
      operationId: GetRecommendedCategories
      parameters:
      - name: retailerId
        in: path
        description: Retailer id.
        required: true
        schema:
          type: string
          format: int32
      requestBody:
        description: Request of recommended categories.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRecommendedCategoriesRequestV1'
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeCategory202204'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/recommend-keywords:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/recommend-keywords
      description: Recommend keywords by given retailer id and sku ids.
      operationId: RecommendedKeywords
      parameters:
      - name: retailerId
        in: path
        description: Retailer id.
        required: true
        schema:
          type: string
      requestBody:
        description: Request of recommended keywords.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRecommendedKeywordsRequestV1'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRecommendedKeywordsResponseV1'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
components:
  schemas:
    ValueResourceOfSponsoredProductsLineItemCreateRequestModel:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SponsoredProductsLineItemCreateRequestModel'
        type:
          type: string
          description: Type of the resource.
          nullable: true
      additionalProperties: false
      description: A value resource exposed by the API.
    JsonApiRequestOfSellerCatalogRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithoutIdOfSellerCatalogRequestAndSellerCatalogRequest'
      additionalProperties: false
      description: A JSON:API wrapper class to format a <typeparamref name="TAttributes" /> with Type, and Attributes properties
    InputKeywords:
      type: object
      properties:
        negativeBroad:
          type: array
          items:
            type: string
          description: The collection of supplied negative broad phrased
          nullable: true
        negativeExact:
          type: array
          items:
            type: string
          description: The collection of supplied negative exact phrase
          nullable: true
        positiveExact:
          type: array
          items:
            type: string
          description: The collection of supplied positive exact phrases
          nullable: true
      additionalProperties: false
      description: Keywords submitted by the user binned by type after some cleanup has been performed
    AudienceTarget202110:
      required:
      - scope
      - audienceIds
      type: object
      properties:
        audienceIds:
          type: array
          items:
            type: string
            description: Audience ids that should be targeted
            format: long-id
          description: Audience ids that should be targeted
        scope:
          enum:
          - unknown
          - include
          - exclude
          type: string
          description: Scope of the audience target
      description: Identifies audience targeting for a line item
    InputResourceOfPreferredLineItemCreateModelV2:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/PreferredLineItemCreateModelV2'
        type:
          type: string
      description: Data model for a Resource
    JsonApiBodyWithIdOfInt64AndBrandAndBrand:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalBrand'
        id:
          type: string
          format: long-id
        type:
          type: string
      additionalProperties: false
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties"
    Metadata:
      required:
      - limit
      - offset
      type: object
      properties:
        count:
          type: integer
          format: int64
          nullable: true
        limit:
          type: integer
          description: The number of elements to be returned.
          format: int32
        offset:
          type: integer
          description: The (zero-based) starting offset in the collection.
          format: int32
      additionalProperties: false
      description: Metadata related to the current request.
      nullable: true
    FlightSchedule:
      type: object
      properties:
        legs:
          type: array
          items:
            $ref: '#/components/schemas/FlightLeg'
          description: A list of flight legs on which the line item will run.
          nullable: true
      additionalProperties: false
      description: A flight schedule for a line item.
      nullable: true
    CampaignAvailabilityV2:
      type: object
      properties:
        budgetModelAvailabilities:
          type: array
          items:
            enum:
            - unknown
            - criteoBudget
            - retailerBudget
            type: string
            description: Possible budget models for retail media campaigns
          description: The budget models available for this campaign type and buy type combination. Presence of a value indicates that budget model is available.
          nullable: true
        buyType:
          enum:
          - unknown
          - auction
          - preferredDeals
          - sponsorship
          - offsite
          type: string
          description: The buy type this object represents availability for
          nullable: true
        campaignType:
          enum:
          - unknown
          - sponsoredProducts
          - onsiteDisplay
          - offsite
          type: string
          description: The type of campaign this object represents availability for
          nullable: true
        validCombinations:
          type: array
          items:
            $ref: '#/components/schemas/PageTypeCombinationV2'
          description: PageType-PageEnvironmentType pairs which are supported for this campaign-buy type combination
          nullable: true
      additionalProperties: false
      description: Information about the budget model availability for a specific campaign type and buy type combination, and page types and environments supported for that combination
    CommonProblem:
      type: object
      properties:
        code:
          type: string
          description: A machine-readable error code, expressed as a string value.
          nullable: true
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          nullable: true
        instance:
          type: string
          description: A URI that identifies the specific occurrence of the problem.
          nullable: true
        source:
          type: object
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
          nullable: true
        stackTrace:
          type: string
          nullable: true
        title:
          type: string
          description: A short human-readable description of the problem type
          nullable: true
        traceId:
          type: string
          description: The request correlation ID this problem comes from.
          nullable: true
        traceIdentifier:
          type: string
          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
          nullable: true
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type: string
          description: The problem's category.
          nullable: true
      description: Common problem object.
    PromotedProduct:
      type: object
      properties:
        bidOverride:
          type: number
          description: The bid override for the promoted product for this line item. Ignored unless adding a product.
          format: decimal
          nullable: true
        id:
          type: string
          description: A retailer defined SKU ID for the promoted product.
          nullable: true
        status:
          $ref: '#/components/schemas/LineItemProductStatus'
      additionalProperties: false
      description: A promoted product.
      nullable: true
    JsonApiSingleResponseOfCampaignV202301:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCampaignV202301AndCampaignV202301'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonError'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonWarning'
      description: A JSON:API wrapper class to add one JSON:API <typeparamref name="T" /> within a data property
    PreferredLineItemV2:
      required:
      - name
      - startDate
      - status
      - targetRetailerId
      - budget
      - campaignId
      type: object
      properties:
        budget:
          type: number
          format: double
        budgetRemaining:
          type: number
          format: double
          nullable: true
        budgetSpent:
          type: number
          format: double
          nullable: true
        campaignId:
          type: string
          format: long-id
        capping:
          $ref: '#/components/schemas/LineItemCappingV2'
        createdAt:
          type: string
          format: date-time
        creativeId:
          type: string
          description: creative Id
          format: long-id
          nullable: true
        endDate:
          type: string
          description: Represents the Date as a year, month, and day in the format YYYY-MM-DD
          format: date
          nullable: true
        id:
          type: string
          nullable: true
        name:
          maxLength: 255
          minLength: 0
          type: string
        pacing:
          enum:
          - unknown
          - standard
          - accelerated
          type: string
          nullable: true
        page:
          $ref: '#/components/schemas/LineItemPageV2'
        startDate:
          type: string
          description: Represents the Date as a year, month, and day in the format YYYY-MM-DD
          format: date
        status:
          enum:
          - unknown
          - active
          - scheduled
          - draft
          - paused
          - budgetHit
          - ended
          - archived
          - noFunds
          type: string
          description: Line Item Status Enum
        targetRetailerId:
          type: string
          format: long-id
        updatedAt:
          type: string
          format: date-time
      description: A Retail Media Preferred Line Item used to hold bid settings for one or many promoted products on a single retailer
    Category202204ListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOfCategory202204'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for several entities.
    SellerCatalogRequestV2:
      type: object
      properties:
        includeFields:
          type: array
          items:
            enum:
            - Unknown
            - Description
            - ImageUrl
            - GoogleCategory
            - RetailerName
            - Category
            - BrandName
            type: string
          description: Out of the optional fields, only the ones specified will be included in the catalog generated.
          nullable: true
        modifiedAfter:
          type: string
          description: Only products modified after this time will be returned.
          format: date-time
          nullable: true
        sellers:
          type: array
          items:
            $ref: '#/components/schemas/SellerIdentifierV2'
          description: A list of sellers to restrict the catalog to.
          nullable: true
      additionalProperties: false
      description: Used to request a catalog of seller SKUs
    SellerCatalogRequest:
      required:
      - sellers
      type: object
      properties:
        sellers:
          type: array
          items:
            $ref: '#/components/schemas/SellerIdentifier'
          description: A list of sellers to restrict the catalog to.
      additionalProperties: false
      description: Used to request a catalog of seller SKUs
    RecommendedKeywordsResponseV1:
      required:
      - recommendedKeywords
      type: object
      properties:
        recommendedKeywords:
          type: array
          items:
            type: string
          description: Recommended keywords generated by given retailer Id and sku Ids.
      additionalProperties: false
      description: Response model of Recommended Keywords
      nullable: true
    SponsoredProductsLineItemCreateRequestModel:
      required:
      - name
      - startDate
      - targetRetailerId
      type: object
      properties:
        bidStrategy:
          enum:
          - manual
          - automated
          type: string
          description: "The bidding strategy for this line item.\r\nDefault value is manual."
          default: manual
        budget:
          type: number
          description: The total budget allocated for this line item.
          format: double
          nullable: true
        dailyPacing:
          type: number
          description: The daily pacing limit for budget spending.
          format: double
          nullable: true
        endDate:
          type: string
          description: The date and time when the line item stops running.
          format: date-time
          nullable: true
        flightSchedule:
          $ref: '#/components/schemas/FlightSchedule'
        isAutoDailyPacing:
          type: boolean
          description: "Indicates whether automatic daily pacing is enabled.\r\nDefault value is false."
          default: false
        keywordStrategy:
          enum:
          - conquesting
          - genericAndBranded
          - genericBrandedAndConquesting
          type: string
          description: The keyword targeting strategy for this line item.
          nullable: true
        maxBid:
          type: number
          description: The maximum bid amount allowed for this line item.
          format: double
          nullable: true
        monthlyPacing:
          type: number
          description: The monthly pacing limit for budget spending.
          format: double
          nullable: true
        name:
          maxLength: 255
          minLength: 0
          type: string
          description: The name of the line item.
        optimizationStrategy:
          enum:
          - conversion
          - clicks
          - revenue
          type: string
          description: "The optimization strategy to use for this line item.\r\nDefault value is Conversion."
          default: conversion
        startDate:
          type: string
          description: The date and time when the line item starts running.
          format: date-time
        targetBid:
          type: number
          description: The target bid amount for the line item.
          format: double
          nullable: true
        targetRetailerId:
          type: string
          description: The ID of the retailer to target for this line item.
          format: long-id
      additionalProperties: false
      description: Model to create a retail media auction line item
    BrandCatalogRequestV2:
      type: object
      properties:
        brandIdFilter:
          type: array
          items:
            type: string
            description: The brand ids to filter the catalog by.
            format: long-id
          description: The brand ids to filter the catalog by.
          nullable: true
        includeFields:
          type: array
          items:
            enum:
            - Unknown
            - Description
            - ImageUrl
            - GoogleCategory
            - RetailerName
            - Category
            - BrandName
            type: string
          description: Out of the optional fields, only the ones specified will be included in the catalog generated.
          nullable: true
        modifiedAfter:
          type: string
          description: Only products modified after this time will be returned.
          format: date-time
          nullable: true
        retailerIdFilter:
          type: array
          items:
            type: integer
            format: int32
          description: The retailer ids to filter the catalog by.
          nullable: true
      additionalProperties: false
      description: A request for a catalog under the specified format.
    ValueResourceCpcMinBidsResponse:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/CpcMinBidsResponse'
        type:
          type: string
          description: Type of the resource.
          nullable: true
      additionalProperties: false
      description: A value resource exposed by the API.
      nullable: true
    LineItemPageCategoryV2:
      required:
      - categoryId
      type: object
      properties:
        categoryId:
          type: string
        includeChildren:
          type: boolean
          default: true
      description: Category information for a preferred line item page
    EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntityResourceLineItemKeywordReviewReport'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          nullable: true
          readOnly: true
        meta:
          $ref: '#/components/schemas/Metadata'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          nullable: true
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for several entities and metadata.
    FilesVariableValue:
      required:
      - assetIds
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
          description: The assets representing the images to be displayed
      additionalProperties: false
      description: A value of a template file variable (one or several files), like images in a creative
      nullable: true
    ValueResourceCpcMinBidsRequest:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/CpcMinBidsRequest'
        type:
          type: string
          description: Type of the resource.
          nullable: true
      additionalProperties: false
      description: A value resource exposed by the API.
    JsonApiBodyWithExternalIdOfEditableCampaignAttributesV202301AndCampaignV202301:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/EditableCampaignAttributesV202301'
        id:
          type: string
          format: long-id
        type:
          type: string
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with Id, Type, and\r\nAttributes properties"
    LineItemPageV2:
      required:
      - pageType
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/LineItemPageCategoryV2'
          nullable: true
        pageType:
          enum:
          - unknown
          - search
          - home
          - browse
          - checkout
          - category
          - productDetail
          - confirmation
          - merchandising
          - deals
          - favorites
          - searchBar
          - categoryMenu
          type: string
          description: Page Type Enum
        searchKeywords:
          type: array
          items:
            type: string
          nullable: true
      description: Page information for a preferred line item
      nullable: true
    SetBidModel:
      type: object
      properties:
        bid:
          type: number
          format: double
          nullable: true
        phrase:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
      additionalProperties: false
      description: A single keyword and associated bid override
    AudienceTarget202110Request:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueTypeResourceOfAudienceTarget202110'
      description: Data model for a value type input resource
    LineItemProductStatus:
      enum:
      - unknown
      - active
      - paused
      type: string
      description: The status of a promoted product in the context of the line item.
      nullable: true
    Template:
      required:
      - allCollectionsMandatory
      - createdAt
      - creativeFormat
      - name
      - sections
      - skuCollectionMin
      - skuPerCollectionMin
      - updatedAt
      type: object
      properties:
        allCollectionsMandatory:
          type: boolean
          description: Marks whether or not all collections are mandatory
        createdAt:
          type: string
          description: The time at which the template was created
          format: date-time
        creativeFormat:
          enum:
          - Unknown
          - FlagShip
          - Showcase
          - SponsoredProducts
          - Butterfly
          - BundleBoost
          - IAB
          - CUSTOM
          - DisplayPanel
          - DigitalShelfTalker
          type: string
          description: The kind of creative this template can be used to build.
        displayableSkusMax:
          type: integer
          description: Maximum number of displayable skus
          format: int32
          nullable: true
        id:
          type: string
          nullable: true
        name:
          type: string
          description: The name of the template
        sections:
          type: array
          items:
            $ref: '#/components/schemas/Section'
          description: The sections holding various template variables
        skuCollectionMax:
          type: integer
          description: Maximum number of skus in the collection
          format: int32
          nullable: true
        skuCollectionMin:
          type: integer
          description: Minimum number of skus in the collection
          format: int32
        skuPerCollectionMax:
          type: integer
          description: Maximum number of skus per collection
          format: int32
          nullable: true
        skuPerCollectionMin:
          type: integer
          description: Minimum number of skus per collection
          format: int32
        updatedAt:
          type: string
          description: The time at which the template was updated
          format: date-time
      additionalProperties: false
      description: A template for creating creatives.
      nullable: true
    JsonApiPageResponseOfCampaignV202301:
      required:
      - metadata
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCampaignV202301AndCampaignV202301'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonError'
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonWarning'
      description: A wrapper class to return a single page of <typeparamref name="T" /> with metadata
    ValueTypeResourceOfAudienceTarget202110:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/AudienceTarget202110'
        type:
          type: string
      description: Data model for a value type resource
    KeywordDataModel:
      type: object
      properties:
        bid:
          type: number
          description: The bid to use when a positive keyword matches the shopper search phrase.
          format: double
          nullable: true
        createdAt:
          type: string
          description: The time at which this keyword was created in UTC.
          format: date-time
        inputKeywords:
          $ref: '#/components/schemas/InputKeywordsModel'
        matchType:
          enum:
          - PositiveExactMatch
          - NegativeExactMatch
          - NegativeBroadMatch
          type: string
          description: The matching algorithm to be used when comparing this keyword with the shopper search phrase.
        reviewState:
          $ref: '#/components/schemas/ReviewStateModel'
        updatedAt:
          type: string
          description: The time at which this keyword was last modified in UTC.
          format: date-time
      additionalProperties: false
      description: A single keyword and associated bid override.
    JsonApiSingleResponseOfCatalogStatus:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithIdOfInt64AndCatalogStatusAndCatalogStatus'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonError'
          nullable: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonWarning'
          nullable: true
      additionalProperties: false
      description: A JSON:API wrapper class to add one JSON:API <typeparamref name="T" /> within a data property
    JsonApiBodyWithoutIdOfCampaignAttributesV202301AndCampaignV202301:
      required:
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/CampaignAttributesV202301'
        type:
          type: string
      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with Type, and\r\nAttributes properties"
    ValueTypeResourceOfStoreTarget202110:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/StoreTarget202110'
        type:
          type: string
      description: Data model for a value type resource
    Category202204:
      required:
      - name
      - parentId
      - text
      type: object
      properties:
        name:
          type: string
          description: Category Name
        parentId:
          type: string
          description: Category ParentId
        text:
          type: string
          description: Category Text
      additionalProperties: false
      description: List of retailer's categories, including the full hierarchy of categories and their parent category ID
      nullable: true
    CommonLineItemPagedListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOfCommonLineItem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
      description: Data model for a paged list of response resources
    LineItemBidMultipliersV2Response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfLineItemBidMultipliersV2'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for a single entity
      nullable: true
    CampaignV202301:
      required:
      - accountId
      - createdAt
      - updatedAt
      - name
      - isAutoDailyPacing
      type: object
      properties:
        accountId:
          type: string
          format: long-id
        budget:
          type: number
          format: double
          nullable: true
        budgetRemaining:
          type: number
          format: double
          nullable: true
        budgetSpent:
          type: number
          format: double
          nullable: true
        clickAttributionScope:
          enum:
          - unknown
          - sameSku
          - sameSkuCategory
          - sameSkuCategoryBrand
          type: string
          nullable: true
        clickAttributionWindow:
          enum:
          - 7D
          - 14D
          - 30D
          - unknown
          type: string
          default: 30D
        companyName:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        dailyPacing:
          type: number
          format: double
          nullable: true
        drawableBalanceIds:
          type: array
          items:
            type: string
            format: long-id
        endDate:
          type: string
          format: date-time
          nullable: true
        isAutoDailyPacing:
          type: boolean
        monthlyPacing:
          type: number
          format: double
          nullable: true
        name:
          maxLength: 255
          minLength: 0
          type: string
        onBehalfCompanyName:
          type: string
          nullable: true
        promotedBrandIds:
          type: array
          items:
            type: string
            format: long-id
        retailerId:
          type: integer
          format: int32
          nullable: true
        startDate:
          type: string
          format: date-time
          nullable: true
        status:
          enum:
          - unknown
          - active
          - inactive
          - scheduled
          - ended
          type: string
        type:
          enum:
          - unknown
          - auction
          - preferred
          type: string
          default: auction
        updatedAt:
          type: string
          format: date-time
        viewAttributionScope:
          enum:
          - unknown
          - sameSku
          - sameSkuCategory
          - sameSkuCategoryBrand
          type: string
          nullable: true
        viewAttributionWindow:
          enum:
          - none
          - 1D
          - 7D
          - 14D
          - 30D
          - unknown
          type: string
[...]
