openapi: 3.2.0
info:
  title: Criteo Campaign API
  description: Criteo API - RetailMedia
  version: 2026-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Campaign
paths:
  /2026-07/retail-media/accounts/{account-id}/campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/campaigns
      description: Gets page of campaign objects for the given account id
      operationId: GetCampaignsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/campaigns
      description: Creates a new campaign with the specified settings
      operationId: CreateCampaignsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        description: The campaign settings to create a campaign with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCampaignV202301'
        required: true
        x-bodyName: campaign
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{account-id}/creatives:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives
      description: Get account creatives
      operationId: GetAccountCreatives
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives
      description: Create a creative for an account
      operationId: CreateCreative
      parameters:
      - name: account-id
        in: path
        description: External account id to create a creative for
        required: true
        schema:
          type: string
      requestBody:
        description: The creative to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        required: true
      responses:
        '201':
          description: Creatives created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}
      description: Get the specified creative
      operationId: GetCreative
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      - name: creative-id
        in: path
        description: Creative to get
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}
      description: Update a creative
      operationId: UpdateCreative
      parameters:
      - name: account-id
        in: path
        description: External account id containing the creative
        required: true
        schema:
          type: string
      - name: creative-id
        in: path
        description: Creative to update
        required: true
        schema:
          type: string
      requestBody:
        description: The creative to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        required: true
      responses:
        '201':
          description: Creative updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{account-id}/creatives/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/search
      description: Get account creatives
      operationId: SearchAccountCreatives
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      - name: creative-ids
        in: query
        description: Creatives to filter by
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report
      description: Generate a list of reports for line items which contain one or more actionable keyword reviews
      operationId: GetKeywordInReviewReport
      parameters:
      - name: account-id
        in: path
        description: The account to generate a report for
        required: true
        schema:
          type: string
          format: int64
      - name: limit
        in: query
        description: Number of items per page
        schema:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{account-id}/line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/line-items
      description: Gets page of line item objects for the given account id
      operationId: GetLineItemsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToCampaignId
        in: query
        description: The campaign ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: limitToType
        in: query
        description: The campaign types that you would like to limit your result set to
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          type:
          - string
          - 'null'
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/brand-catalog-export:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/brand-catalog-export
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateBrandCatalogExport
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfBrandCatalogRequestV2'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/accounts/{accountId}/brands:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/brands
      description: Gets page of retailer objects that are associated with the given account
      operationId: GetBrandsByAccountId
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/catalogs:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/catalogs
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/catalogs/sellers:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/catalogs/sellers
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiExternalV1AccountCatalogsSellersByAccountId
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfSellerCatalogRequest'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/retailers/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/retailers/search
      description: Searches for retailers associated with the specified account and returns budget model availability for each retailer
      operationId: SearchAccountRetailers
      parameters:
      - name: accountId
        in: path
        description: The external account identifier
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 and 10. Default is 5.
        schema:
          maximum: 10
          minimum: 1
          type: integer
          format: int32
          default: 5
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result set. Default is 0.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      requestBody:
        description: The search request containing filtering parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailerSearchRequestV2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailerResultV2AndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/accounts/{accountId}/seller-catalog-export:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/seller-catalog-export
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateSellerCatalogExport
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerCatalogRequestV2'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/assets:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/assets
      description: Creates an asset
      operationId: CreateAsset
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - AssetFile
              properties:
                AssetFile:
                  type: string
                  description: The asset binary content
                  format: binary
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/auction-line-items/{lineItemId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/auction-line-items/{lineItemId}
      description: Gets a sponsored product line item by its id.
      operationId: GetAuctionLineItem
      parameters:
      - name: lineItemId
        in: path
        description: The id of the line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/auction-line-items/{lineItemId}
      description: Updates a Sponsored Products Line Item given a line item id and a request.
      operationId: UpdateAuctionLineItem
      parameters:
      - name: lineItemId
        in: path
        description: The external line item ID of the sponsored products line item.
        required: true
        schema:
          type: string
      requestBody:
        description: An update request containing all details of the requested update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/balances/{balance-id}/campaigns/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/balances/{balance-id}/campaigns/append
      description: appends one or more campaigns to the specified balance
      operationId: AppendCampaignsByBalanceId
      parameters:
      - name: balance-id
        in: path
        description: The balance to add campaigns from
        required: true
        schema:
          type: string
      requestBody:
        description: The campaigns to append
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        x-bodyName: campaigns
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/balances/{balance-id}/campaigns/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/balances/{balance-id}/campaigns/delete
      description: Removes one or more campaigns on the specified balance
      operationId: DeleteCampaignsByBalanceId
      parameters:
      - name: balance-id
        in: path
        description: The balance to remove campaigns from
        required: true
        schema:
          type: string
      requestBody:
        description: The campaigns to append
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceCampaign202110ListRequest'
        x-bodyName: campaigns
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items
      description: Gets page of preferred line item objects for the given campaign id
      operationId: GetPreferredLineItemsByCampaignId
      parameters:
      - name: campaign-id
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items
      description: Creates a new preferred line item with the specified settings
      operationId: CreatePreferredLineItemByCampaignId
      parameters:
      - name: campaign-id
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        required: true
        x-bodyName: lineItem
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaignId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}
      description: Gets the campaign for the given campaign id
      operationId: GetCampaignByCampaignId
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}
      description: Updates the campaign for the given campaign id
      operationId: UpdateCampaignByCampaignId
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The campaign settings to update that campaign with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCampaignV202301'
        required: true
        x-bodyName: campaign
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaignId}/auction-line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/auction-line-items
      description: Gets a page of sponsored product line items by campaign id.
      operationId: GetAuctionLineItemsByCampaign
      parameters:
      - name: campaignId
        in: path
        description: The id of the campaign
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of elements to be returned on a page.
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
          default: 25
      - name: limitToIds
        in: query
        description: The ids to limit the auction line item results to
        schema:
          type: array
          items:
            type: string
      - name: offset
        in: query
        description: The (zero-based) starting offset into the collection.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfSponsoredProductsLineItemAndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/auction-line-items
      description: Creates new auction line item with the specified settings
      operationId: CreateAuctionLineItem
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemCreateRequestModel'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides
      description: Get current campaign budget overrides by given campaign id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - name: campaignId
        in: path
        description: Campaign id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides
      description: Update campaign budget overrides by given campaign id and new campaign budget overrides settings.
      operationId: UpdateCampaignBudgetOverrides
      parameters:
      - name: campaignId
        in: path
        description: Campaign id.
        required: true
        schema:
          type: string
      requestBody:
        description: New campaign budget overrides settings value resource input.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/catalogs/{catalogId}/output:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/catalogs/{catalogId}/output
      description: 'Output the indicated catalog. Catalogs are only available for retrieval when their associated status request

        is at a Success status.

        Produces application/x-json-stream CatalogProduct json objects (first introduced in the 2021-07 version).'
      operationId: GetCatalogOutput
      parameters:
      - name: catalogId
        in: path
        description: A catalog ID returned from an account catalog request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Catalog download initiated.
          content:
            application/x-json-stream:
              schema:
                type: string
                format: binary
        '204':
          description: Catalog has expired.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/catalogs/{catalogId}/status:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/catalogs/{catalogId}/status
      description: Check the status of a catalog request.
      operationId: GetCatalogStatus
      parameters:
      - name: catalogId
        in: path
        description: A catalog ID returned from an account catalog request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Catalog request found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/categories:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/categories
      description: Endpoint to search categories by text and retailer.
      operationId: CategorySearch_GetApiExternalV1Categories
      parameters:
      - name: pageIndex
        in: query
        description: The start position in the overall list of matches. Must be zero or greater.
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of results to return with each call. Must be greater than zero.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: retailerId
        in: query
        description: The retailer id for which Categories fetched
        schema:
          type: integer
          format: int32
      - name: textSubstring
        in: query
        description: Query string to search across Categories
        schema:
          type: string
      responses:
        '200':
          description: Categories found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/categories/{categoryId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/categories/{categoryId}
      description: Endpoint to search for a specific category by categoryId.
      operationId: GetCategory
      parameters:
      - name: categoryId
        in: path
        description: ID of the desired category
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Retrieval completed and category is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{externalLineItemId}/keywords/recommended
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetRecommendedKeywords
      parameters:
      - name: externalLineItemId
        in: path
        description: The line item identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRecommendedKeywordsResult'
      deprecated: true
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{id}/keywords:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{id}/keywords
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - name: id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{id}/keywords/add-remove:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{id}/keywords/add-remove
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - name: id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{id}/keywords/set-bid:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{id}/keywords/set-bid
      description: Set bid overrides for associated keywords to the given line item in bulk
      operationId: SetKeywordBids
      parameters:
      - name: id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}
      description: Gets the line item for the given line item id
      operationId: GetLineItemsByCampaignId
      parameters:
      - name: line-item-id
        in: path
        description: The given line item id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers
      description: Fetch all bid multipliers for a given line item
      operationId: GetBidMultipliersByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: LineItemId for bid multiplier retrieval
        required: true
        schema:
          type: string
      responses:
        '200':
          description: BidMultipliers Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliersV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers
      description: Updates the bid multipliers for a given line item
      operationId: UpdateBidMultipliersByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: LineItemId for bid multiplier retrieval
        required: true
        schema:
          type: string
      requestBody:
        description: New Bid Multipliers to be set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersV2Request'
        required: true
        x-bodyName: request
      responses:
        '200':
          description: BidMultipliers Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/keywords/review:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/keywords/review
      description: Update the status of keyword reviews under a line item
      operationId: UpdateKeywordReviews
      parameters:
      - name: line-item-id
        in: path
        description: The line item to update keyword review statuses for
        required: true
        schema:
          type: string
          format: int64
      requestBody:
        description: Request object containing a list of Phrase-ReviewState pairs to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
        x-bodyName: keywordReviewSetStateRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRetailMediaKeywordsReviewResult'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products
      description: Retrieve a page of promoted products for a line item
      operationId: FetchPromotedProducts
      parameters:
      - name: fields
        in: query
        description: "A comma separated list of attribute names from the response model to compute and return.\n            Valid values are `status` and `bidOverride` in any order. Defaults to `status`."
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum page size to fetch. Defaults to 500.
        schema:
          type: integer
          format: int32
      - name: line-item-id
        in: path
        description: ID of the line item.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: Offset of the first item to fetch. Defaults to zero.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Promoted products associated with the line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProductResourceCollectionOutcome'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/line-items/{line-item-id}/products/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/append
      description: Append a collection of promoted products to a line item
      operationId: AppendPromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '200':
          description: Promoted products appended to the line item with warnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
        '204':
          description: Promoted products appended to the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/delete
      description: Remove a collection of promoted products from a line item
      operationId: DeletePromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '204':
          description: Promoted products removed from the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products/pause:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/pause
      description: Pause a collection of promoted products associated with a line item
      operationId: PausePromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '204':
          description: Promoted products paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{line-item-id}/products/unpause
      description: Un-pause a collection of promoted products associated with a line item
      operationId: UnpausePromotedProducts
      parameters:
      - name: line-item-id
        in: path
        description: ID of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: Request body whose {data} contains an array of promoted products.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
      responses:
        '204':
          description: Promoted products un-paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides
      description: Gets a collection of monthly and daily budget overrides for the provided line item.
      operationId: GetLineItemBudgetOverrides
      parameters:
      - name: lineItemId
        in: path
        description: The line item id to get budget overrides for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides
      description: Update line item budget overrides by given external line item id and new line item budget overrides settings.
      operationId: UpdateLineItemBudgetOverrides
      parameters:
      - name: lineItemId
        in: path
        description: Line item external id.
        required: true
        schema:
          type: string
      requestBody:
        description: New line item budget overrides settings value resource input.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}
      description: Gets the preferred line item for the given line item id
      operationId: GetPreferredLineItemsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The given line item id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}
      description: Updates the preferred line item for the given line item id
      operationId: UpdatePreferredLineItemByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The given line item id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelV2Request'
        required: true
        x-bodyName: lineItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-baske…
      description: This endpoint gets the add to basket target on the specified line item.
      operationId: GetAddToBasketTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-baske…
      description: This endpoint sets the scope of the add to basket target on the specified line item.
      operationId: PutAddToBasketTargetByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: The add to basket target to set the scope for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketTarget202110Request'
        required: true
        x-bodyName: addToBasketTarget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-baske…
      description: This endpoint appends one or more add to basket ids to targeting on the specified line item. The resulting state of the add to basket target is returned.
      operationId: AppendAddToBasketTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Ids to append to the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        x-bodyName: idsToAppend
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-baske…
      description: This endpoint removes one or more add to basket ids from targeting on the specified line item. The resulting state of the add to basket target is returned.
      operationId: DeleteAddToBasketTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Ids to remove from the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToBasketIdsUpdateModel202110Request'
        x-bodyName: idsToRemove
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddToBasketTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences
      description: This endpoint gets the audience target on the specified line item.
      operationId: GetAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences
      description: This endpoint sets the scope of the audience target on the specified line item.
      operationId: PutAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: The audience target to set the scope for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTarget202110Request'
        required: true
        x-bodyName: audienceTarget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/ap…
      description: This endpoint appends one or more audiences ids to targeting on the specified line item. The resulting state of the audience target is returned.
      operationId: AppendAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Audience ids to append to the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        x-bodyName: idsToAppend
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/de…
      description: This endpoint removes one or more audiences ids from targeting on the specified line item. The resulting state of the audience target is returned.
      operationId: DeleteAudienceTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Audience ids to remove from the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceIdsUpdateModel202110Request'
        x-bodyName: idsToRemove
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores
      description: This endpoint gets the store target on the specified line item.
      operationId: GetStoreTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores
      description: This endpoint sets the scope of the store target on the specified line item.
      operationId: PutStoreTargetByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: The store target to set the scope for
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreTarget202110Request'
        required: true
        x-bodyName: storeTarget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/appen…
      description: This endpoint appends one or more store ids to targeting on the specified line item. The resulting state of the store target is returned.
      operationId: AppendStoreTargetsByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Store ids to append to the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreIdsUpdateModel202110Request'
        x-bodyName: idsToAppend
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/preferred-line-items/{line-item-id}/targeting/stores/delet…
      description: This endpoint removes one or more store ids from targeting on the specified line item. The resulting state of the store target is returned.
      operationId: DeleteStoreTargetByLineItemId
      parameters:
      - name: line-item-id
        in: path
        description: The line item to interact with
        required: true
        schema:
          type: string
      requestBody:
        description: Store ids to remove from the target
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreIdsUpdateModel202110Request'
        x-bodyName: idsToRemove
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTarget202110Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/retailers/{retailer-id}/templates:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailer-id}/templates
      description: Get retailer creative templates
      operationId: GetRetailerCreativeTemplates
      parameters:
      - name: retailer-id
        in: path
        description: External retailer id to retrieve creative templates for
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Templates found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailer-id}/templates/{template-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailer-id}/templates/{template-id}
      description: Gets the template for the specified retailer id and template id
      operationId: GetCreativeTemplate
      parameters:
      - name: retailer-id
        in: path
        description: Retailer Id
        required: true
        schema:
          type: string
          format: int32
      - name: template-id
        in: path
        description: Template Id
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Template found for the retailer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/categories/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/categories/search
      description: Search a retailer categories by given text substring and category ids.
      operationId: SearchCategory
      parameters:
      - name: limit
        in: query
        description: Limit of the search result.
        schema:
          maximum: 500
          minimum: 1
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: Offset of the search result.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: retailerId
        in: path
        description: Retailer id.
        required: true
        schema:
          type: string
          format: int32
      requestBody:
        description: Request of categories search.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCategoriesSearchRequestV1'
        x-bodyName: request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeCategory202204Metadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/cpc-min-bids:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/cpc-min-bids
      description: Get overall and individual minimum bid amount for given retailer id and sku id list.
      operationId: GetCpcMinBidsBySkuIdsV1
      parameters:
      - name: retailerId
        in: path
        description: Retailer Id.
        required: true
        schema:
          type: string
          format: int32
      requestBody:
        description: Cpc minimum bid amount request object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputCpcMinBidsRequest'
        required: true
        x-bodyName: cpcMinBidsRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeCpcMinBidsResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
  /2026-07/retail-media/retailers/{retailerId}/pages:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/pages
      description: Get the page types available for the given retailer
      operationId: RetailerApi_GetApi202110ExternalRetailerPagesByRetailerId
      parameters:
      - name: retailerId
        in: path
        description: The retailers to fetch pages for
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Pages fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetailerPages202110'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/recommend-categories:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/recommend-categories
      description: Endpoint to get recommended categories by given retailer id and sku id list.
      operationId: GetRecommendedCategories
      parameters:
      - name: retailerId
        in: path
        description: Retailer id.
        required: true
        schema:
          type: string
          format: int32
      requestBody:
        description: Request of recommended categories.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRecommendedCategoriesRequestV1'
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeCategory202204'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
  /2026-07/retail-media/retailers/{retailerId}/recommend-keywords:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/retailers/{retailerId}/recommend-keywords
      description: Recommend keywords by given retailer id and sku ids.
      operationId: RecommendedKeywords
      parameters:
      - name: retailerId
        in: path
        description: Retailer id.
        required: true
        schema:
          type: string
      requestBody:
        description: Request of recommended keywords.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRecommendedKeywordsRequestV1'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRecommendedKeywordsResponseV1'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
components:
  schemas:
    AddRemoveKeywordsModelRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AddRemoveKeywordsModelResource'
      additionalProperties: false
      description: Request object to add or remove keywords from a line item
    CommonProblem:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: A machine-readable error code, expressed as a string value.
        detail:
          type:
          - string
          - 'null'
          description: A human-readable explanation specific to this occurrence of the problem
        instance:
          type:
          - string
          - 'null'
          description: A URI that identifies the specific occurrence of the problem.
        source:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
        stackTrace:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
          description: A short human-readable description of the problem type
        traceId:
          type:
          - string
          - 'null'
          description: The request correlation ID this problem comes from.
        traceIdentifier:
          type:
          - string
          - 'null'
          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type:
          - string
          - 'null'
          description: The problem's category.
      description: Common problem object.
    ValueResourceOfSponsoredProductsLineItemCreateRequestModel:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SponsoredProductsLineItemCreateRequestModel'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    ProductMetadata:
      type:
      - object
      - 'null'
      properties:
        count:
          type:
          - integer
          - 'null'
          description: Total number of items available.
          format: int32
        limit:
          type:
          - integer
          - 'null'
          description: Maximum number of items in the response.
          format: int32
        offset:
          type:
          - integer
          - 'null'
          description: Zero based offset of the first item in the response.
          format: int32
        responseCount:
          type:
          - integer
          - 'null'
          description: Number of items in the response.
          format: int32
      additionalProperties: false
      description: Metadata about the response. Used for pagination.
    ValueResourceOfSponsoredProductsLineItemUpdateRequestModel:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/SponsoredProductsLineItemUpdateRequestModel'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    ValueResourceOutcomeRetailMediaKeywordsReviewResult:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceRetailMediaKeywordsReviewResult'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for a single value object.
    JsonApiBodyWithoutIdOfCampaignAttributesV202301AndCampaignV202301:
      required:
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/CampaignAttributesV202301'
        type:
          type: string
      description: 'A JSON:API wrapper class to format a <typeparamref name="TAttributes" /> with Type, and

        Attributes properties'
    EntityResourceCategory202204:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/Category202204'
        id:
          type:
          - string
          - 'null'
          description: Unique id of the entity.
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      description: A domain entity exposed by the API, identified by a unique id.
    ResourceOfLineItemBidMultipliersV2:
      type:
      - object
      - 'null'
      properties:
        attributes:
          $ref: '#/components/schemas/LineItemBidMultipliersV2'
        id:
          type:
          - string
          - 'null'
          description: Id of the entity
        type:
          type:
          - string
          - 'null'
          description: Canonical type name of the entity
      description: A class that represents a domain entity exposed by an API
    RetailMediaKeywordsReviewResult:
      required:
      - keywords
      type:
      - object
      - 'null'
      properties:
        keywords:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/ReviewSetState'
      additionalProperties: false
      description: Response object for approval of keyword reviews, containing a list of Phrase-ReviewState pairs
    CreativeUpdateModel202207:
      required:
      - name
      - retailerId
      - templateId
      - templateVariableValues
      type: object
      properties:
        brandId:
          type: integer
          description: The brand associated to the creative
          format: int64
        id:
          type:
          - string
          - 'null'
        name:
          type: string
          description: The name of the creative
        retailerId:
          type: integer
          description: The retailer associated to the creative
          format: int32
        templateId:
          type: integer
          description: The creative template used for this creative
          format: int32
        templateVariableValues:
          type: array
          items:
            $ref: '#/components/schemas/TemplateVariableValue'
          description: The template chosen values
      additionalProperties: false
      description: Update model of a creative
    CategoriesSearchRequestV1:
      type: object
      properties:
        categoryIds:
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: Categories search category ids criteria.
        textSubstring:
          type:
          - string
          - 'null'
          description: Categories search text substring criteria.
      description: An object that represents the request of CategoriesSearch endpoint.
    TextVariableSpecification:
      type:
      - object
      - 'null'
      properties:
        maxChars:
          type:
          - integer
          - 'null'
          description: The maximum amount of characters accepted for the text
          format: int32
      additionalProperties: false
      description: Specification of a text variable
    Metadata:
      required:
      - limit
      - offset
      type:
      - object
      - 'null'
      properties:
        count:
          type:
          - integer
          - 'null'
          format: int64
        limit:
          type: integer
          description: The number of elements to be returned.
          format: int32
        offset:
          type: integer
          description: The (zero-based) starting offset in the collection.
          format: int32
      additionalProperties: false
      description: Metadata related to the current request.
    StoreTarget202110Response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueTypeResourceOfStoreTarget202110'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
      description: Data model for a value type resource outcome
    ValueResourceInputOfRetailerSearchRequestV2:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceOfRetailerSearchRequestV2'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    EntityResourceCollectionOutcomeCategory202204Metadata:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EntityResourceCategory202204'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Metadata'
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for several entities and metadata.
    CampaignV202301:
      required:
      - accountId
      - createdAt
      - updatedAt
      - name
      - isAutoDailyPacing
      type: object
      properties:
        accountId:
          type: string
          format: long-id
        budget:
          type:
          - number
          - 'null'
          format: double
        budgetRemaining:
          type:
          - number
          - 'null'
          format: double
        budgetSpent:
          type:
          - number
          - 'null'
          format: double
        clickAttributionScope:
          enum:
          - unknown
          - sameSku
          - sameSkuCategory
          - sameSkuCategoryBrand
          type:
          - string
          - 'null'
        clickAttributionWindow:
          enum:
          - 7D
          - 14D
          - 30D
          - unknown
          type: string
          default: 30D
        companyName:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        dailyPacing:
          type:
          - number
          - 'null'
          format: double
        drawableBalanceIds:
          type: array
          items:
            type: string
            format: long-id
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        isAutoDailyPacing:
          type: boolean
        monthlyPacing:
          type:
          - number
          - 'null'
          format: double
        name:
          maxLength: 255
          minLength: 0
          type: string
        onBehalfCompanyName:
          type:
          - string
          - 'null'
        promotedBrandIds:
          type: array
          items:
            type: string
            format: long-id
        retailerId:
          type:
          - integer
          - 'null'
          format: int32
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        status:
          enum:
          - unknown
          - active
          - inactive
          - scheduled
          - ended
          type: string
        type:
          enum:
          - unknown
          - auction
          - preferred
          type: string
          default: auction
        updatedAt:
          type: string
          format: date-time
        viewAttributionScope:
          enum:
          - unknown
          - sameSku
          - sameSkuCategory
          - sameSkuCategoryBrand
          type:
          - string
          - 'null'
        viewAttributionWindow:
          enum:
          - none
          - 1D
          - 7D
          - 14D
          - 30D
          - unknown
          type: string
          default: none
      description: A Retail Media Campaign used to represent an advertiser's marketing objective
    PreferredLineItemUpdateModelV2:
      required:
      - name
      - startDate
      - endDate
      - status
      type: object
      properties:
        budget:
          type: number
          format: double
        capping:
          $ref: '#/components/schemas/LineItemCappingV2'
        creativeId:
          type: string
          format: long-id
        endDate:
          type: string
          description: Represents the Date as a year, month, and day in the format YYYY-MM-DD
          format: date
        name:
          maxLength: 255
          minLength: 0
          type: string
        pacing:
          enum:
          - unknown
          - standard
          - accelerated
          type: string
          default: accelerated
        page:
          $ref: '#/components/schemas/LineItemPageV2'
        startDate:
          type: string
          description: Represents the Date as a year, month, and day in the format YYYY-MM-DD
          format: date
        status:
          enum:
          - unknown
          - active
          - scheduled
          - draft
          - paused
          - budgetHit
          - ended
          - archived
          - noFunds
          type: string
          description: Line Item Status Enum
      description: Model used to update a preferred line item
    SetBidsModelRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SetBidsModelResource'
      additionalProperties: false
      description: Request object to set bid overrides for keywords associated with a line item
    RetailMediaKeywordsReview:
      required:
      - keywords
      type: object
      properties:
        keywords:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/ReviewSetState'
      additionalProperties: false
      description: Request object for approval of keyword reviews, containing a list of Phrase-ReviewState pairs
    ResourceOutcome:
      type: object
      properties:
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RmcaCommonProblem'
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RmcaCommonProblem'
          readOnly: true
      additionalProperties: false
      description: Outcome object containing errors and warnings.
    PromotedProduct:
      type:
      - object
      - 'null'
      properties:
        bidOverride:
          type:
          - number
          - 'null'
          description: The bid override for the promoted product for this line item. Ignored unless adding a product.
          format: decimal
        id:
          type:
          - string
          - 'null'
          description: A retailer defined SKU ID for the promoted product.
        status:
          $ref: '#/components/schemas/LineItemProductStatus'
      additionalProperties: false
      description: A promoted product.
    LineItemBidMultipliersV2Response:
      type:
      - object
      - 'null'
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfLineItemBidMultipliersV2'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for a single entity
    CommonLineItemResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfCommonLineItem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for a single entity
    RetailerResultV2:
      type:
      - object
      - 'null'
      properties:
        campaignAvailabilities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CampaignAvailabilityV2'
          description: A list of campaign availabilities for the retailer, each showing the budget models available for a specific campaign type and buy type combination
        name:
          type:
          - string
          - 'null'
          description: Name of the retailer
      additionalProperties: false
      description: The result of a query for the configuration of a retailer
    ChoiceVariableValue:
      required:
      - chosenOptions
      type:
      - object
      - 'null'
      properties:
        chosenOptions:
          type: array
          items:
            type: string
          description: The chosen options
      additionalProperties: false
      description: A value of a template choice variable (among different accepted options)
    MonthlyLineItemBudegetOverride:
      required:
      - duration
      - maxMonthlySpend
      type: object
      properties:
        duration:
          type: string
          description: The number of MONTHs that the override is active from StartMonth, e.g. "1M". Must end with 'M' or 'm'.
        maxMonthlySpend:
          type: number
          description: Monthly budget override maximum monthly spend amount.
          format: double
        startMonth:
          type:
          - string
          - 'null'
          description: Monthly budget override start month, format "yyyy-MM". If it is null, the StartMonth would be the following month of the last item in the override sequence.
          format: date-time
        status:
          enum:
          - Expired
          - Active
          - Upcoming
          type:
          - string
          - 'null'
          description: Monthly budget override computed status.
      additionalProperties: false
      description: The details for a monthly budget override
    SdkApiRestCommonProblem:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: A machine-readable error code, expressed as a string value.
        detail:
          type:
          - string
          - 'null'
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - string
          - 'null'
          description: A URI that identifies the specific occurrence of the problem.
        source:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
        stackTrace:
          type:
          - string
          - 'null'
          description: ''
        title:
          type:
          - string
          - 'null'
          description: A short human-readable description of the problem type.
        traceId:
          type:
          - string
          - 'null'
          description: The request correlation ID this problem comes from.
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type:
          - string
          - 'null'
          description: The problem's category.
      additionalProperties: false
      description: Common problem object.
    PreferredLineItemV2Response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfPreferredLineItemV2'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for a single entity
    ResourceOfPreferredLineItemUpdateModelV2:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/PreferredLineItemUpdateModelV2'
        id:
          type: string
          description: Id of the entity
        type:
          type: string
          description: Canonical type name of the entity
      description: A class that represents a domain entity exposed by an API
    PreferredLineItemUpdateModelV2Request:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceOfPreferredLineItemUpdateModelV2'
      description: A top-level object that encapsulates a Criteo API request for a single entity
    CommonError:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
        detail:
          type:
          - string
          - 'null'
          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - string
          - 'null'
          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem.
        source:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
        stackTrace:
          type:
          - string
          - 'null'
          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
        title:
          type:
          - string
          - 'null'
          description: (RECOMMENDED) A short, human-readable summary of the problem type.
        traceId:
          type:
          - string
          - 'null'
          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
        type:
          enum:
          - unknown
          - access-control
          - authentication
          - authorization
          - availability
          - deprecation
          - quota
          - validation
          type:
          - string
          - 'null'
          description: (REQUIRED) The classification of the error.
      additionalProperties: false
      description: A JSON:API Common error structure
    PutCampaignV202301:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/JsonApiBodyWithExternalIdOfEditableCampaignAttributesV202301AndCampaignV202301'
      description: An object that represents the available options to set when editing a Retail Media Campaign
    ValueResourceOutcomeRecommendedKeywordsResponseV1:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceRecommendedKeywordsResponseV1'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API response for a single value object.
    EntityResourceCollectionOutcomeCategory202204:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EntityResourceCategory202204'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Errors that occured during this call.
          readOnly: true
        warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkApiRestCommonProblem'
          description: Warnings that occured during this call.
          readOnly: true
      description: A top-level object that encapsulates a Criteo API response for several entities.
    ValueResourceOfRecommendedKeywordsResult:
      type:
      - object
      - 'null'
      properties:
        attributes:
          $ref: '#/components/schemas/RecommendedKeywordsResult'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    PageTypeEnvironment2:
      type: object
      properties:
        environments:
          type:
          - array
          - 'null'
          items:
            enum:
            - Web
            - Mobile
            - App
            - Lockout
            - Mixed
            - iOS
            - Android
            type: string
            description: Creative format, defining where the creative can be served
          description: List of environments per PageType
        pageType:
          enum:
          - Unknown
          - Search
          - Home
          - Browse
          - Checkout
          - Category
          - ProductDetail
          - Confirmation
          - Merchandising
          - Deals
          - Favorites
          - SearchBar
          - CategoryMenu
          type:
          - string
          - 'null'
          description: Creative PageType
      additionalProperties: false
      description: The PageType-Environment Tuples for creatives
    StoreTarget202110Request:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueTypeResourceOfStoreTarget202110'
      description: Data model for a value type input resource
    CpcMinBidsRequest:
      required:
      - skuIds
      type: object
      properties:
        skuIds:
          type: array
          items:
            type: string
          description: Sku id list for which minimum bid amounts are requested.
      additionalProperties: false
      description: Cpc Min Bids request object.
    EntityResourceOfRetailerResultV2:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RetailerResultV2'
        id:
          type:
          - string
          - 'null'
          description: Unique id of the entity.
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A domain entity exposed by the API, identified by a unique id.
    BalanceCampaign202110PagedListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOfBalanceCampaign202110'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
        metadata:
          $ref: '#/components/schemas/PageMetadata'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/CommonProblem'
          readOnly: true
      description: Data model for a paged list of response resources
    ValueResourceInputRetailMediaKeywordsReview:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceRetailMediaKeywordsReview'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value object.
    ValueResourceInputRecommendedKeywordsRequestV1:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ValueResourceRecommendedKeywordsRequestV1'
      additionalProperties: false
      description: A top-level object that encapsulates a Criteo API request for a single value objects.
    ValueResourceRetailMediaKeywordsReview:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/RetailMediaKeywordsReview'
        type:
          type:
          - string
          - 'null'
          description: Type of the resource.
      additionalProperties: false
      description: A value resource exposed by the API.
    JsonApiBodyWithIdOfInt64AndBrandAndBrand:
      required:
      - id
      - type
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ExternalBrand'
        id:
          type: string
          format: long-id
        type:
          type: string
      additionalProperties: false
      description: 'A JSON:API wrapper class to format a <typeparamref name="TAttributes" /> with external Id, Type, and

        Attributes properties'
    ProductResourceOutcome:
      type: object
      properties:
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RmcaCommonProblem'
        warnings:
          type:
          - array
          - 'null'
          items:
[...]
